body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
 background-image: url("gymy/images (1).jpg");
 background-size:cover;
 
 
}
.box{
  width: 338px;
  height:630;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%,-40%);
  background:#191919;
  text-align: center;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 150px;
  border-color: #2ecc71;
}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}
.boxform2
{
  width: 338px;
  height:934px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%,-30%);
   
  text-align: center;
}
.dr
{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}